@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Sen', sans-serif;
}

input[type='date']:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
input[type='date']:focus::-webkit-datetime-edit {
  color: black !important;
}
